@import "tailwindcss";

*{
  background-image: url('../public/bg.png');
  background-size: cover;
}

header{
  background-color: transparent !important;
}

main{
  background-color: rgba(255, 255, 255, 0.1);
  /* backdrop-filter: blur(10px); */
}
